@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>会员手册</title>
    <meta name="keywords" content="会员手册" />
    <meta name="description" content="会员手册" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
          name="viewport">
    <meta name="format-detection" content="telphone=no, email=no" />
    <style type="text/css">
        body {
            margin: 0 auto;
            padding: 0.45rem;
        }

        dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, input, textarea, p, tr, th, td, img {
            padding: 0;
            margin: 0;
        }

        img {
            max-width: 100%;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <p style="margin-top:auto;margin-bottom:0;margin-bottom: 0;line-height:26px">
        <img src="/images/1479204762541084026.jpg" alt="1479204762541084026.jpg" />
    </p>
    <p style="margin-top: auto; margin-bottom: 0px; line-height: 2em;">
        <br />
    </p>
    <section class="xmyeditor" id="xmy1479115447464" onmouseup="ajh(this.id);" style="">
        <section class="" style="position:static;box-sizing: border-box;" data-id="86134">
            <section style="text-align:center;">
                <section style="background-color:rgb(254,254,254);padding:0px 10px;display:inline-block;">
                    <span style="font-size: 28px; font-family: 微软雅黑, &#39;Microsoft YaHei&#39;;"><strong><span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;; color: #000000; font-size: 28px;"><!-- -->1<!-- --></span></strong></span>
                </section>
                <section style="margin-top: -1.2em; margin-bottom:0.65em;">
                    <section id="qqq0" class="wxqq-borderBottomColor wxqq-borderTopColor wxqq-borderRightColor wxqq-borderLeftColor" style="border-top-width: 1px; border-top-style: solid; border-color: rgb(33, 33, 34); width: 20%; margin: 0px auto;" data-width="20%"></section>
                </section>
                <p style="text-align: center;">
                    <span style="font-size: 18px; color: #000000; font-family: 微软雅黑, &#39;Microsoft YaHei&#39;;"><strong style="line-height: 26px; white-space: normal;"><span style="font-size: 20px; color: #000000; font-family: 微软雅黑, sans-serif;">我要开发板平台类型</span></strong></span>
                </p>
                <p style="line-height: 2em;">
                    <span style="font-size: 18px; color: #000000; font-family: 微软雅黑, &#39;Microsoft YaHei&#39;;"><strong style="line-height: 26px; white-space: normal;"><span style="font-size: 20px; color: #000000; font-family: 微软雅黑, sans-serif;"><br /></span></strong></span>
                </p>
            </section>
        </section>
    </section>
    <p style="margin-top: auto; margin-bottom: 0px; line-height: 2em;">
        <span style="font-size: 18px; font-family: 微软雅黑, sans-serif; color: #262626;">“我要开发板”专注于收集整理全球的开发板产品资料，与厂家合作开放免费板卡试用,更有非常多的开发技巧和产品研发灵感方面的技术文章。<span style="font-size: 18px; font-family: 微软雅黑, sans-serif; color: #262626;">你可以在<strong>微信订阅号</strong>上<strong>看和听分享的技术，参加线下的技术交流活动，参加“我要开发板”每个季度的线下大课。</strong></span></span>
    </p>
    <p style="margin-top: auto; margin-bottom: 0px; line-height: 1.5em;">
        <span style="font-size: 18px; font-family: 微软雅黑, sans-serif; color: #262626;"><strong><br /></strong></span>
    </p>
    <section class="xmyeditor" id="xmy1479115467714" onmouseup="ajh(this.id);" style="">
        <section class="" style="position:static;box-sizing: border-box;" data-id="86134">
            <section style="text-align:center;">
                <section style="background-color:rgb(254,254,254);padding:0px 10px;display:inline-block;">
                    <span style="font-size: 28px; font-family: 微软雅黑, &#39;Microsoft YaHei&#39;;"><strong><span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;; color: #000000; font-size: 28px;"><!-- -->2<!-- --></span></strong></span>
                </section>
                <section style="margin-top: -1.2em; margin-bottom:0.65em;">
                    <section id="qqq0" class="wxqq-borderBottomColor wxqq-borderTopColor wxqq-borderRightColor wxqq-borderLeftColor" style="border-top-width: 1px; border-top-style: solid; border-color: rgb(33, 33, 34); width: 20%; margin: 0px auto;" data-width="20%"></section>
                </section>
                <p style="text-align: center;">
                    <span style="font-size: 20px;"><strong>“我要开发板”会员权益</strong></span>
                </p>
                <p>
                    <br />
                </p>
            </section>
        </section>
    </section>
    <p style="margin-top: auto; margin-right: 48px; margin-bottom: 0px; line-height: 1.5em;">
        <span style="color: #FF0000; font-size: 20px;"><strong><span style="color: #FF0000; font-family: 微软雅黑, sans-serif;">普通会员</span></strong></span><span style="color: #FF0000; font-size: 18px;"><strong><span style="color: #FF0000; font-family: 微软雅黑, sans-serif;">&nbsp;<span style="color: #FF0000; font-family: 微软雅黑, sans-serif;">299元/年</span></span></strong></span>
    </p>
    <p style="margin-top: auto; margin-right: 48px; margin-bottom: 0px; line-height: 1.5em;">
        <span style="font-size: 18px;"><strong><span style="font-family: 微软雅黑, sans-serif; color: #262626; font-size: 18px;"><br /></span></strong></span>
    </p>
    <p style="margin-top: auto; margin-bottom: 0px; line-height: 1.5em;">
        <span style="font-family: 微软雅黑, sans-serif; color: #262626; font-size: 18px;">1、&nbsp;全年上百个技术大佬分享的线上阅读；</span>
    </p>
    <p style="margin-top: auto; margin-bottom: 0px; line-height: 1.5em;">
        <span style="font-family: 微软雅黑, sans-serif; color: #262626; font-size: 18px;"><br /></span>
    </p>
    <p style="margin-top: auto; margin-bottom: 0px; line-height: 1.5em;">
        <span style="font-family: 微软雅黑, sans-serif; color: #262626; font-size: 18px;">2、&nbsp;全年平台线下大课的直播学习；</span>
    </p>
    <p style="margin-top: auto; margin-bottom: 0px; line-height: 1.5em;">
        <span style="font-family: 微软雅黑, sans-serif; color: #262626; font-size: 18px;"><br /></span>
    </p>
    <p style="margin-top: auto; margin-bottom: 0px; line-height: 1.5em;">
        <span style="font-family: 微软雅黑, sans-serif; color: #262626; font-size: 18px;">3、&nbsp;可免费申请对应组别的开发板；</span>
    </p>
    <p style="margin-top: auto; margin-bottom: 0px; line-height: 1.5em;">
        <span style="font-family: 微软雅黑, sans-serif; color: #262626; font-size: 18px;"><br /></span>
    </p>
    <p style="margin-top: auto; margin-bottom: 0px; line-height: 1.5em;">
        <span style="color: #FF0000; font-size: 20px;"><strong><span style="color: #FF0000; font-family: 微软雅黑, sans-serif;">高级会员</span></strong></span><span style="font-size: 18px;"><span style="color: #FF0000; font-size: 18px;"><strong><span style="font-family: 微软雅黑, sans-serif; font-size: 18px;">&nbsp;<span style="color: #FF0000; font-family: 微软雅黑, sans-serif; font-size: 18px;">499元/年</span></span></strong></span><strong><span style="font-family: 微软雅黑, sans-serif; color: #262626; font-size: 18px;"></span></strong><strong><span style="font-family: 微软雅黑, sans-serif; color: #262626; font-size: 18px;"></span></strong></span>
    </p>
    <p style="margin-top: auto; margin-bottom: 0px; line-height: 1.5em;">
        <span style="font-size: 18px;"><strong><span style="font-family: 微软雅黑, sans-serif; color: #262626; font-size: 18px;"><br /></span></strong></span>
    </p>
    <p style="margin-top: auto; margin-bottom: 0px; line-height: 1.5em;">
        <span style="font-family: 微软雅黑, sans-serif; color: #262626; font-size: 18px;">1、全年上百个技术大佬分享的线上阅读；</span>
    </p>
    <p style="margin-top: auto; margin-bottom: 0px; line-height: 1.5em;">
        <span style="font-family: 微软雅黑, sans-serif; color: #262626; font-size: 18px;"><br /></span>
    </p>
    <p style="margin-top: auto; margin-bottom: 0px; line-height: 1.5em;">
        <span style="font-family: 微软雅黑, sans-serif; color: #262626; font-size: 18px;">2、全年平台线下大课的直播学习；</span>
    </p>
    <p style="margin-top: auto; margin-bottom: 0px; line-height: 1.5em;">
        <span style="font-family: 微软雅黑, sans-serif; color: #262626; font-size: 18px;"><br /></span>
    </p>
    <p style="margin-top: auto; margin-bottom: 0px; line-height: 1.5em;">
        <span style="font-family: 微软雅黑, sans-serif; color: #262626; font-size: 18px;">3、可报名参加全年24场线下活动，和众多分享主人公或者专家面对面探讨技术；</span>
    </p>
    <p style="margin-top: auto; margin-bottom: 0px; line-height: 1.5em;">
        <span style="font-family: 微软雅黑, sans-serif; color: #262626; font-size: 18px;"><br /></span>
    </p>
    <p style="margin-top: auto; margin-bottom: 0px; line-height: 1.5em;">
        <span style="font-family: 微软雅黑, sans-serif; color: #262626; font-size: 18px;">4、全年平台线下大课的学习；</span>
    </p>
    <p style="margin-top: auto; margin-bottom: 0px; line-height: 1.5em;">
        <span style="font-family: 微软雅黑, sans-serif; color: #262626; font-size: 18px;"><br /></span>
    </p>
    <p style="margin-top: auto; margin-bottom: 0px; line-height: 1.5em;">
        <span style="font-family: 微软雅黑, sans-serif; color: #262626; font-size: 18px;">5、可免费申请对应组别的开发板。</span>
    </p>
    <p style="margin-top: auto; margin-bottom: 0px; line-height: 1.5em;">
        <span style="font-family: 微软雅黑, sans-serif; color: #262626; font-size: 18px;"><br /></span>
    </p>
    <p style="margin-top: auto; margin-bottom: 0px; text-align: center; line-height: 2em;">
        <span style="font-size: 18px;"><strong><span style="font-family: 微软雅黑, sans-serif; color: #262626; font-size: 18px;">电子开发，就来我要开发板！</span></strong></span>
    </p>
    <p style="margin-top: auto; margin-bottom: 0px; line-height: 2em;">
        <span style="font-size: 18px;"><strong><span style="font-family: 微软雅黑, sans-serif; color: #262626; font-size: 18px;"><br /></span></strong></span>
    </p>
    <p style="margin-top: auto; margin-bottom: 0px; text-align: center; line-height: 2em;">
        <span style="font-size: 18px;"><strong><span style="font-family: 微软雅黑, sans-serif; color: #262626; font-size: 18px;">让我们一起走进你身边的电子技术开发交流世界。</span></strong></span>
    </p>
    <p style="margin-top: auto; margin-bottom: 0px; line-height: 26px;">
        <img src="/images/1479198698678099461.jpg" alt="1479198698678099461.jpg" />
    </p>
    @await Html.PartialAsync("Bottom")
</body>
</html>